* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    cursor: pointer;
}

button {
    font-size: 16px;
    padding: 10px 20px;
}

.tooltip {
    background-color: #dadada;
    padding: 20px 25px;
    border-radius: 10px;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltip-right.tooltip-enable {
    margin-left: 25px;
    animation: slide 0.3s ease-out;
}

@keyframes slide {
    to {
        margin-left: 25px;
    }
    from {
        margin-left: 10px;
    }
}
